#### String Operations

In [ ]:

textbyline <- readLines("./testfile.txt")  # reads by line

In [ ]:
toupper(textbyline)
tolower(textbyline)
chartr("#", "-", textbyline) #replace # with - in the text

In [5]:
char_list <- strsplit(textbyline[1], " ") # split the string by spaces, gives us words. It gives a list
char_list
word_list <- unlist(char_list) # creates a character vector 
word_list

[[1]]
 [1] "I've"      "sometimes" "felt,"     "as"        "life"      "goes"
 [7] "by,"       "that"      "there"     "are"       "too"       "many"
[13] "sides"     "with"

 [1] "I've"      "sometimes" "felt,"     "as"        "life"      "goes"
 [7] "by,"       "that"      "there"     "are"       "too"       "many"
[13] "sides"     "with"

In [6]:
paste(word_list, collapse = " ")  # joins the words in the list with spaces in between them

[1] "I've sometimes felt, as life goes by, that there are too many sides with"

In [8]:
# substring
substr(textbyline[1], start = 4, stop= 50)

[1] "e sometimes felt, as life goes by, that there a"

In [10]:
#remove white spaces
trimws(textbyline[1])

[1] "I've sometimes felt, as life goes by, that there are too many sides with"

In [14]:
library(stringr) # package needed for str_sub()

In [15]:
str_sub(textbyline[1], -8, -1)  #counts from last character, -8 means start from 8 th character from end and end at 1st charcter from end

[1] "es with "

#### Dates

In [25]:
date1 <- as.Date("27/06/94", "%d/%m/%y")
date2 <- as.Date("07/05/99", "%d/%m/%y")

Sys.Date() # system date
date() # current date, char string
Sys.time() # current date in Posix format

date2 - date1
date2 > date1
date2 - 14

weekdays(date1)
months(date1)
quarters(date1)

[1] "2023-02-15"

[1] "Wed Feb 15 14:48:51 2023"

[1] "2023-02-15 14:48:51 UTC"

Time difference of 1775 days

[1] TRUE

[1] "1999-04-23"

[1] "Monday"

[1] "June"

[1] "Q2"

In [27]:
seq(Sys.Date(), by="month", length.out = 4) # generates a sequence of 4 dates, starting at system date and seperated by 1 month each

[1] "2023-02-15" "2023-03-15" "2023-04-15" "2023-05-15"

#### Regular Expressions

In [37]:
# . = wild card for a character
# + = wild card for matching preceding patters element ONE or more times, so .+ will match any sequence of characters one or more times
# * = wild card for matching preceding patters element ZERO or more times, so .* will match any sequence of characters zero or more times
# \\ = escape character such that \\. will look for only a . character and . is no longer a wild card

grep("@.*", c("test1@testing.com", "not an email", "test2@testme.no")) # gives index of the strings that contain the maching string
grep("@.*", c("test1@testing.com", "not an email", "test2@testme.no"), value=TRUE) # gives the actual values that contain the maching string
gsub("@.*", "@changedstring.us", c("test1@testing.com", "not an email", "test2@testme.no")) # replacs the matching string with new one

[1] 1 3

[1] "test1@testing.com" "test2@testme.no"

[1] "test1@changedstring.us" "not an email"           "test2@changedstring.us"

In [38]:
matches <- regexpr("@.*", c("test1@testing.com", "not an email", "test2@testme.no"))
regmatches(c("test1@testing.com", "not an email", "test2@testme.no"), matches)  #gives only the machine strings

[1] "@testing.com" "@testme.no"

In [44]:
my_vector <- c("1992", "2016", "2012", "2018")
as.integer(my_vector)

[1] 1992 2016 2012 2018

In [47]:
drinks <- factor(c("tea", "coffee", "soft drink", "tea", "hot chocolate", "hot chocolate", "coffee"))
drinks

[1] tea           coffee        soft drink    tea           hot chocolate
[6] hot chocolate coffee
Levels: coffee hot chocolate soft drink tea