In [139]:
setwd("C:/Users/devops/MachineLearningwithR/Day0-Statistics")  #setting work directory (\ does not work on windows so it is replaced with /)

#### Data structures in R

In [117]:
#Vectors: ORDERED set of similar type of elements, only text or only numbers (!!! ORDER BEGINS at 1 not 0!!!)
#Logical Vectors
logical_vector <- c(TRUE,FALSE,FALSE,TRUE,TRUE,FALSE,FALSE,TRUE)
logical_vector[2:5]
#Numeric Vectors
numeical_vector <- c(15, 86, 99.999, 69, 455, 86, NA, NULL)  # NA = missing value, NULL = absence of any value (nothing is or can be there)
numeical_vector[c(TRUE,TRUE,TRUE,FALSE,FALSE,TRUE,TRUE,TRUE)] #selecting value based on Boolean place value or index number, false will not render
#Integer Vectors
integral_vector <- c(15L, 86L, 99L, 15L, 86L, 8, NA, NULL)
#String Vectors
string_vectors <- c("mohit", "sumit", "darsh", "vishnu", "mohit", "sumit", "darsh", "vishnu")
string_vectors[-2] #neglecting 2nd value

# summary of variable
summary(numeical_vector)

# functions for vectors
print("functions for vectors")
year <- c(1985, 1999, 2010, 2002)
names(year) <- c("movie1", "movie2", "movie3", "movie4")   # naming the elements for vectors
year # title and value mapped

length(year) # vector length

sort(year)

min(year)
max(year)

mean(year)

#logical operation on elements
year > 2000 # returns the true and false for each element based on condition
year[year > 2000] # returns only the elements that have year greated than 2000

[1] FALSE FALSE  TRUE  TRUE

[1] 15.000 86.000 99.999 86.000     NA     NA

[1] "mohit"  "darsh"  "vishnu" "mohit"  "sumit"  "darsh"  "vishnu"

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
  15.00   73.25   86.00  135.17   96.50  455.00       1

[1] "functions for vectors"

movie1 movie2 movie3 movie4
  1985   1999   2010   2002

[1] 4

movie1 movie2 movie4 movie3
  1985   1999   2002   2010

[1] 1985

[1] 2010

[1] 1999

movie1 movie2 movie3 movie4
 FALSE  FALSE   TRUE   TRUE

movie3 movie4
  2010   2002

In [118]:
#Factors: Optimized to store category labels, the labels are always stored as strings but in memory that values have numeric representation
#c() function gives the vales and the levels argument gives the acceptable values
movielength_vector <- c("Very short", "Short", "Medium", "Short", "Long", "Very short", "Very long")
movielength_factor <- factor(movielength_vector, ordered = TRUE, levels = c("Very short", "Short", "Medium", "Long", "ery long"))
movielength_factor

factors_bloodtypes <- factor(c("O", "AB", "A"), levels = c("A", "B", "AB", "O"))
factors_bloodtypes_ordered <- factor(c("O", "AB", "A"), levels = c("A", "B", "AB", "O"), ordered = TRUE)
factors_bloodtypes[1]
factors_bloodtypes
factors_bloodtypes_ordered

# summary of variable
summary(factors_bloodtypes) # shows occurances
summary(factors_bloodtypes_ordered)

[1] Very short Short      Medium     Short      Long       Very short <NA>
Levels: Very short < Short < Medium < Long < ery long

[1] O
Levels: A B AB O

[1] O  AB A
Levels: A B AB O

[1] O  AB A
Levels: A < B < AB < O

 A  B AB  O
 1  0  1  1

 A  B AB  O
 1  0  1  1

In [119]:
#Lists: ORDERED set of similar or dissimilar elements (!!! ORDER BEGINS at 1 not 0!!!)
list_example <- list(
  fullname="mohit sharma",
  temperature=98.7,
  age=35,
  gender="male",
  favorite_movie = c("matrix", "avengers endgame", "trolls")
)

list_example["canDrive"] <- TRUE 

list_example
list_example$fullname
list_example$gender
list_example$favorite_movie
list_example[2:4]
list_example[gender]

$fullname
[1] "mohit sharma"

$temperature
[1] 98.7

$age
[1] 35

$gender
[1] "male"

$favorite_movie
[1] "matrix"           "avengers endgame" "trolls"

$canDrive
[1] TRUE

[1] "mohit sharma"

[1] "male"

[1] "matrix"           "avengers endgame" "trolls"

$temperature
[1] 98.7

$age
[1] 35

$gender
[1] "male"

$<NA>
NULL

$<NA>
NULL

$<NA>
NULL

$<NA>
NULL

In [120]:
#Matrix: 2 dimension table
matrix_row_col_specified <- matrix(c(6:25),nrow=5,ncol=4) # default arrangements happen by column: each column is filled first with values
matrix_row_col_specified_rowarrangment <- matrix(c(6:25),nrow=5,ncol=4, byrow = TRUE) # forcing arrangement by row:  each row is filled first with values
matrix_row_specified <- matrix(c('a', 'b', 'c', 'd', 'e', 'f'), nrow = 2)
matrix_col_specified <- matrix(c('a', 'b', 'c', 'd'), ncol = 2)

matrix_row_col_specified
matrix_row_col_specified_rowarrangment
matrix_row_col_specified[2,3]
matrix_col_specified[1,] #first row
matrix_row_col_specified[,2] #second column
matrix_row_col_specified[1:2,2:3] #select sub matrix

t(matrix_row_col_specified) # transpose a matrix

     [,1] [,2] [,3] [,4]
[1,]  6   11   16   21
[2,]  7   12   17   22
[3,]  8   13   18   23
[4,]  9   14   19   24
[5,] 10   15   20   25

     [,1] [,2] [,3] [,4]
[1,]  6    7    8    9
[2,] 10   11   12   13
[3,] 14   15   16   17
[4,] 18   19   20   21
[5,] 22   23   24   25

[1] 17

[1] "a" "c"

[1] 11 12 13 14 15

     [,1] [,2]
[1,] 11   16
[2,] 12   17

     [,1] [,2] [,3] [,4] [,5]
[1,]  6    7    8    9   10
[2,] 11   12   13   14   15
[3,] 16   17   18   19   20
[4,] 21   22   23   24   25

In [121]:
#Array: 2 or more than 2 dimension layer   ***** 
movie_vector <- c("Akira", "Toy story", "Room", "The Wave", "Whiplash", "Star wars", "The Ring", "The Artist", "Jumanji")
movie_array <- array(movie_vector, dim= c(4,3))
movie_array
movie_array[1, ]
movie_array[,2]

     [,1]      [,2]       [,3]
[1,] Akira     Whiplash   Jumanji
[2,] Toy story Star wars  Akira
[3,] Room      The Ring   Toy story
[4,] The Wave  The Artist Room

[1] "Akira"    "Whiplash" "Jumanji"

[1] "Whiplash"   "Star wars"  "The Ring"   "The Artist"

In [141]:
#Data Frame: sort of a 2 dimensional array, corelated information
# A data frame can be understood as a list of vectors or factors, each having exactly the same number of values
name <- c("mohit", "dashanan", "vishnu", "raghav")
temperature <- c(98.6, 104, 96.1, 98.4)
flu <- c(TRUE, FALSE, FALSE, FALSE)
gender <- c("male", "male", "male", "male")
blood  <- factor(c("O+", "AB", "A", "B"), levels = c("A", "B", "AB", "O+"))

dataframe_example <- data.frame(name, temperature, flu, gender,  stringsAsFactors = FALSE)
dataframe_example

dataframe_example["blood"] <- blood  # assigning a new coulmn
dataframe_example

dataframe_example <- rbind(dataframe_example, c(name="mr. Nobody",temperature=98.5, flu=FALSE, gender= "male", blood="B")) # adding a new row
dataframe_example

  name     temperature flu   gender
1 mohit     98.6        TRUE male
2 dashanan 104.0       FALSE male
3 vishnu    96.1       FALSE male
4 raghav    98.4       FALSE male

  name     temperature flu   gender blood
1 mohit     98.6        TRUE male   O+
2 dashanan 104.0       FALSE male   AB
3 vishnu    96.1       FALSE male   A
4 raghav    98.4       FALSE male   B

  name       temperature flu   gender blood
1 mohit      98.6        TRUE  male   O+
2 dashanan   104         FALSE male   AB
3 vishnu     96.1        FALSE male   A
4 raghav     98.4        FALSE male   B
5 mr. Nobody 98.5        FALSE male   B

In [142]:
dataframe_example
dataframe_example$subject_name
dataframe_example[c("name", "temperature")]  #calling out with column name
dataframe_example[c(1,3),c(2,4)] #calling via rows, column sequences
dataframe_example[,1] #calling all rows of column one
dataframe_example[1,] #calling all columns of row one

  name       temperature flu   gender blood
1 mohit      98.6        TRUE  male   O+
2 dashanan   104         FALSE male   AB
3 vishnu     96.1        FALSE male   A
4 raghav     98.4        FALSE male   B
5 mr. Nobody 98.5        FALSE male   B

NULL

  name       temperature
1 mohit      98.6
2 dashanan   104
3 vishnu     96.1
4 raghav     98.4
5 mr. Nobody 98.5

  temperature gender
1 98.6        male
3 96.1        male

[1] "mohit"      "dashanan"   "vishnu"     "raghav"     "mr. Nobody"

  name  temperature flu  gender blood
1 mohit 98.6        TRUE male   O+

In [143]:
str(dataframe_example)
head(dataframe_example)
tail(dataframe_example)

'data.frame':	5 obs. of  5 variables:
 $ name       : chr  "mohit" "dashanan" "vishnu" "raghav" ...
 $ temperature: chr  "98.6" "104" "96.1" "98.4" ...
 $ flu        : chr  "TRUE" "FALSE" "FALSE" "FALSE" ...
 $ gender     : chr  "male" "male" "male" "male" ...
 $ blood      : Factor w/ 4 levels "A","B","AB","O+": 4 3 1 2 2

  name       temperature flu   gender blood
1 mohit      98.6        TRUE  male   O+
2 dashanan   104         FALSE male   AB
3 vishnu     96.1        FALSE male   A
4 raghav     98.4        FALSE male   B
5 mr. Nobody 98.5        FALSE male   B

  name       temperature flu   gender blood
1 mohit      98.6        TRUE  male   O+
2 dashanan   104         FALSE male   AB
3 vishnu     96.1        FALSE male   A
4 raghav     98.4        FALSE male   B
5 mr. Nobody 98.5        FALSE male   B

In [145]:
dataframe_example[-5,]  #remove row 5
#dataframe_example["blood"] <- NULL  # removes column blood
dataframe_example$blood <- NULL
dataframe_example

  name     temperature flu   gender blood
1 mohit    98.6        TRUE  male   O+
2 dashanan 104         FALSE male   AB
3 vishnu   96.1        FALSE male   A
4 raghav   98.4        FALSE male   B

  name       temperature flu   gender
1 mohit      98.6        TRUE  male
2 dashanan   104         FALSE male
3 vishnu     96.1        FALSE male
4 raghav     98.4        FALSE male
5 mr. Nobody 98.5        FALSE male

### Data types

In [126]:
# Data types

# Numeric: Set of all real numbers
print("====Numeric====")
# Assign a decimal value to x
x = 5
 
# print the class name of variable
print(class(x))
 
# print the type of variable
print(typeof(x))

[1] "====Numeric===="
[1] "numeric"
[1] "double"

In [127]:
# Integer: Set of all integers, Z
print("====Integer====")
# Assign an integer value to y
y = as.integer(5)
 
# print the class name of variable
print(class(y))
 
# print the type of variable
print(typeof(y))

# When R stores a number in a variable, it converts the number into a “double” value or a decimal type with at least two decimal places. This means that a value such as “5” here, is stored as 5.00 with a type of double and a class of numeric.
# is y an integer?
print(is.integer(x))
print(is.integer(y))

[1] "====Integer===="
[1] "integer"
[1] "integer"
[1] FALSE
[1] TRUE

In [128]:
# Logical: TRUE and FALSE
print("====Logical====")
# Sample values
x = 4
y = 3
 
# Comparing two values
z = x > y
 
# print the logical value
print(z)
 
# print the class name of z
print(class(z))
 
# print the type of z
print(typeof(z))

[1] "====Logical===="
[1] TRUE
[1] "logical"
[1] "logical"

In [129]:
# Complex: Set of complex numbers
print("====Complex====")
# Assign a complex value to x
x = 4 + 3i
 
# print the class name of x
print(class(x))
 
# print the type of x
print(typeof(x))

[1] "====Complex===="
[1] "complex"
[1] "complex"

In [130]:
# Character: “a”, “b”, “c”, …, “@”, “#”, “$”, …., “1”, “2”, …etc
print("====Character====")
# Assign a character value to char
char = "Geeksforgeeks" #as.character can be used
 
# print the class name of char
print(class(char))
 
# print the type of char
print(typeof(char))

[1] "====Character===="
[1] "character"
[1] "character"

In [131]:
# Type verification
# is.data_type(object)
# Logical
print(is.logical(TRUE))
 
# Integer
print(is.integer(3L))
 
# Numeric
print(is.numeric(10.5))
 
# Complex
print(is.complex(1+2i))
 
# Character
print(is.character("12-04-2020"))
print(is.integer("a"))
print(is.numeric(2+3i))

[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] TRUE
[1] FALSE
[1] FALSE

In [132]:
# Type conversion
# as.data_type(object) 
# Logical
print(as.numeric(TRUE))
 
# Integer
print(as.complex(3L))
 
# Numeric
print(as.logical(10.5))
 
# Complex
print(as.character(1+2i))
 
# Not possible
print(as.numeric("12-04-2020"))

[1] 1
[1] 3+0i
[1] TRUE
[1] "1+2i"

Warning message in print(as.numeric("12-04-2020")):
"NAs introduced by coercion"

[1] NA

#### Operators

In [133]:
# Arithmetic Operators

a <- 4   #variable assignment
b <- 2   #variable assignment

a+b #add
a-b #subtract
a*b #multiply
a/b #divide
a^b #power or exponential
a%%b #modulus operator or remainer operator
((a+b)*a)/b  #combining operators

[1] 6

[1] 2

[1] 8

[1] 2

[1] 16

[1] 0

[1] 12

In [134]:
# Logical Operators

# Element-wise Logical AND operator (&): Returns True if both the operands are True.
# Any non zero integer value is considered as a TRUE value, be it complex or real number. 
list1 <- c(TRUE, 0.1)
list2 <- c(0,4+3i)
print(list1 & list2)

# Element-wise Logical OR operator (|): Returns True if either of the operands is True.
list1 <- c(TRUE, 0.1)
list2 <- c(0,4+3i)
print(list1|list2)

# NOT operator (!): A unary operator that negates the status of the elements of the operand.
list1 <- c(0,FALSE)
print(!list1)    

# Logical AND operator (&&): Returns True if both the first elements of the operands are True.
# Compares just the first elements of both the lists.
list1 <- c(TRUE, 0.1)
list2 <- c(0,4+3i)
print(list1 && list2)

# Logical OR operator (||): Returns True if either of the first elements of the operands is True.
list1 <- c(TRUE, 0.1)
list2 <- c(0,4+3i)
print(list1||list2)

[1] FALSE  TRUE
[1] TRUE TRUE
[1] TRUE TRUE

Warning message in list1 && list2:
"'length(x) = 2 > 1' in coercion to 'logical(1)'"
Warning message in list1 && list2:
"'length(x) = 2 > 1' in coercion to 'logical(1)'"

[1] FALSE

Warning message in list1 || list2:
"'length(x) = 2 > 1' in coercion to 'logical(1)'"

[1] TRUE

In [135]:
# Relational Operators
vec1 <- c(0, 2)
vec2 <- c(2, 3)
 
# Performing operations on Operands
cat ("Vector1 less than Vector2 :", vec1 < vec2, "\n") # Less than (<): 
cat ("Vector1 less than equal to Vector2 :", vec1 <= vec2, "\n") # Less than equal to (<=): 
cat ("Vector1 greater than Vector2 :", vec1 > vec2, "\n") # Greater than (>): 
cat ("Vector1 greater than equal to Vector2 :", vec1 >= vec2, "\n") # Greater than equal to (>=): 
cat ("Vector1 not equal to Vector2 :", vec1 != vec2, "\n") # Not equal to (!=)

Vector1 less than Vector2 : TRUE TRUE
Vector1 less than equal to Vector2 : TRUE TRUE
Vector1 greater than Vector2 : FALSE FALSE
Vector1 greater than equal to Vector2 : FALSE FALSE
Vector1 not equal to Vector2 : TRUE TRUE

#### Confusion Matrix for understanding
![image.png](./logic_operators.PNG)

In [136]:
# Assignment Operators

vec1 <- c(2:5) # Left Assignment (<- or <<- or =): Assigns a value to a vector.
c(2:5) ->> vec2 # Right Assignment (-> or ->>): Assigns value to a vector.
vec3 <<- c(2:5) # Left Assignment (<- or <<- or =): Assigns a value to a vector.
vec4 = c(2:5) # Left Assignment (<- or <<- or =): Assigns a value to a vector.
c(2:5) -> vec5 # Right Assignment (-> or ->>): Assigns value to a vector.
 
# Performing operations on Operands
cat ("vector 1 :", vec1, "\n")
cat("vector 2 :", vec2, "\n")
cat ("vector 3 :", vec3, "\n")
cat("vector 4 :", vec4, "\n")
cat("vector 5 :", vec5)

vector 1 : 2 3 4 5
vector 2 : 2 3 4 5
vector 3 : 2 3 4 5
vector 4 : 2 3 4 5
vector 5 : 2 3 4 5

In [137]:
# Miscellaneous Operator

# %in% Operator: Checks if an element belongs to a list and returns a boolean value TRUE if the value is present  else FALSE.
val <- 0.1
list1 <- c(TRUE, 0.1,"apple")
print (val %in% list1)

# Colon Operator(:): Prints a list of elements starting with the element before the colon to the element after it.
print (1:5)

# %*% Operator: This operator is used to multiply a matrix with its transpose. 
mat <- matrix (1:4, nrow = 1, ncol = 4)
print("Matrix elements using : ")
print(mat)
 
product = mat %*% t(mat)
print("Product of matrices")
print(product,)
cat ("does 1 exist in prod matrix :", "1" %in% product)

[1] TRUE
[1] 1 2 3 4 5
[1] "Matrix elements using : "
     [,1] [,2] [,3] [,4]
[1,]    1    2    3    4
[1] "Product of matrices"
     [,1]
[1,]   30
does 1 exist in prod matrix : FALSE

### Extra functions

In [138]:
## saving, loading, and removing R data structures
#show all data structures in memory
ls()
#remove the named object
rm(a,b) #remove vaiable from memory
#remove all objects
rm(list=ls())

 [1] "a"
 [2] "array_example"
 [3] "b"
 [4] "blood"
 [5] "char"
 [6] "dataframe_example"
 [7] "dim"
 [8] "factors_bloodtypes"
 [9] "factors_bloodtypes_ordered"
[10] "flu"
[11] "flu_status"
[12] "gender"
[13] "h"
[14] "i"
[15] "integral_vector"
[16] "j"
[17] "k"
[18] "l"
[19] "list_example"
[20] "list1"
[21] "list2"
[22] "logical_vector"
[23] "mat"
[24] "matrix_col_specified"
[25] "matrix_row_col_specified"
[26] "matrix_row_col_specified_rowarrangment"
[27] "matrix_row_specified"
[28] "mivie_array"
[29] "movie_array"
[30] "movie_vector"
[31] "movielength_factor"
[32] "movielength_vector"
[33] "name"
[34] "numeical_vector"
[35] "pro"
[36] "product"
[37] "string_vectors"
[38] "subject_name"
[39] "temperature"
[40] "val"
[41] "vec1"
[42] "vec2"
[43] "vec3"
[44] "vec4"
[45] "vec5"
[46] "x"
[47] "y"
[48] "year"
[49] "z"

In [ ]:
#Important Functions
#View data in a visual and searchable
View(dataframe_example)
#Get the class of a variable
class(string_vectors)
#Get working directory
getwd()
#Set working directory
setwd("./MachineLearningwithR/Day1")